# Ignore this stuff
.DS_Store
reference/**/* 
distribution/**/* 
learning/**/*
css/**/*
content/static/libraries.html
content/static/tools.html
books
copyright.html
distribution
reference
shop
overview
people
robots.txt
tutorials
foundation
exhibition
examples
about