#redirect /index.html http://test.processing.org/index.php
#redirect /learning/courses/index.html http://test.processing.org/courses.html
#redirect /processing_beta.css http://test.processing.org/css/processing_beta.css

RewriteEngine On

RewriteCond %{HTTPS} =off
RewriteCond %{REQUEST_URI} /(download)
RewriteRule ^(.*)$ https://trunk.processing.org/$1 [R,L]

RewriteCond %{HTTPS} =on
RewriteRule ^(.*)$ http://trunk.processing.org/$1 [R,L]