<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><!-- classname --> \ Language (API) \ Processing 3+</title>
		
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Author" content="Processing Foundation" />
		<meta name="Publisher" content="Processing Foundation" />
		<meta name="Keywords" content="Processing, Sketchbook, Programming, Coding, Code, Art, Design" />
		<meta name="Description" content="Processing is a flexible software sketchbook and a language for learning how to code within the context of the visual arts. Since 2001, Processing has promoted software literacy within the visual arts and visual literacy within technology." />
		<meta name="Copyright" content="All contents copyright the Processing Foundation, Ben Fry, Casey Reas, and the MIT Media Laboratory" />

		<script src="<!-- webcontentpath -->javascript/modernizr-2.6.2.touch.js" type="text/javascript"></script>
		<link href="<!-- webcontentpath -->css/style.css" rel="stylesheet" type="text/css" />
		
	</head>
	<body id="Langauge-en" onload="" >
		
		<!-- ==================================== PAGE ============================ --> 
		<div id="container">

	
			<!-- ==================================== HEADER ============================ -->
			<div id="ribbon">
				<ul class="left">
					<li class="highlight"><a href="http://processing.org/">Processing</a></li>
					<li><a href="http://p5js.org/">p5.js</a></li>
					<li><a href="http://py.processing.org/">Processing.py</a></li>
					<li><a href="http://android.processing.org/">Processing for Android</a></li>
					<li><a href="http://pi.processing.org/">Processing for Pi</a></li>
				</ul>
				<ul class="right">
					<li><a href="https://processingfoundation.org/">Processing Foundation</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div id="header">
				<a href="/" title="Back to the Processing cover."><div class="processing-logo no-cover" alt="Processing cover"></div></a>
				<form name="search" method="get" action="//www.google.com/search">
				       <p><input type="hidden" name="as_sitesearch" value="processing.org" />
				       <input type="text" name="as_q" value="" size="20" class="text" /> 
				       <input type="submit" value=" " /></p>
				</form>
			</div>  
			<a id="TOP" name="TOP"></a>
			
			<div id="navigation">
					<!-- navigation -->
			</div>

		
			
			
			<!-- ==================================== CONTENT - Headers ============================ -->
			<div class="content">
			
			 <p class="ref-notice">This reference is for Processing 3.0+. If you have a previous version, use the reference included with your software in the Help menu. If you see any errors or have suggestions, <a href="https://github.com/processing/processing-docs/issues?state=open">please let us know</a>. If you prefer a more technical reference, visit the <a href="http://processing.github.io/processing-javadocs/core/">Processing Core Javadoc</a> and <a href="http://processing.github.io/processing-javadocs/libraries/">Libraries Javadoc</a>.</p>

<table cellpadding="0" cellspacing="0" border="0" class="ref-item">
	<tr class="name-row">
		<th scope="row">Name</th>
		<td><h3><!-- classname --></h3></td>
	</tr>

	<!-- examples -->

	<!-- description -->

	<!-- require:fields --><tr class=""><th scope="row"><b>Fields</b></th><td><table cellpadding="0" cellspacing="0" border="0"><!-- fields --></table></td></tr><!-- end -->

	<!-- require:methods --><tr class=""><th scope="row">Methods</th><td><table cellpadding="0" cellspacing="0" border="0"><!-- methods --></table></td></tr><!-- end -->

	<!-- require:constructors --><tr class=""><th scope="row">Constructor</th><td><pre><!-- constructors --></pre></td></tr><!-- end -->
	<!-- require:parameters --><tr class="">	<th scope="row">Parameters</th><td><table cellpadding="0" cellspacing="0" border="0"><!-- parameters --></table></td>	</tr><!-- end -->
	<!-- require:related --><tr class=""><th scope="row">Related</th><td><!-- related --></td></tr><!-- end -->
</table>

Updated on <!-- timestamp --><br /><br />

<!-- Creative Commons License -->

<div class="license">
	<a rel="license" href="//creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border: none" src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" /></a>
</div>
<!--

<?xpacket begin='' id=''?>
<x:xmpmeta xmlns:x='adobe:ns:meta/'>
  <rdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'>
    <rdf:Description rdf:about=''
		     xmlns:xapRights='http://ns.adobe.com/xap/1.0/rights/'>
      <xapRights:Marked>True</xapRights:Marked>
    </rdf:Description>
    <rdf:Description rdf:about=''
		     xmlns:xapRights='http://ns.adobe.com/xap/1.0/rights/'
		     >
      <xapRights:UsageTerms>
	<rdf:Alt>
	  <rdf:li xml:lang='x-default' >This work is licensed under a &lt;a rel=&#34;license&#34; href=&#34;http://creativecommons.org/licenses/by-nc-sa/4.0/&#34;&gt;Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License&lt;/a&gt;.</rdf:li>
	  <rdf:li xml:lang='en' >This work is licensed under a &lt;a rel=&#34;license&#34; href=&#34;http://creativecommons.org/licenses/by-nc-sa/4.0/&#34;&gt;Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License&lt;/a&gt;.</rdf:li>
	  </rdf:Alt>
      </xapRights:UsageTerms>
    </rdf:Description>
    <rdf:Description rdf:about=''
      xmlns:cc='http://creativecommons.org/ns#'>
      <cc:license rdf:resource='http://creativecommons.org/licenses/by-nc-sa/4.0/'/>
    </rdf:Description>
    
  </rdf:RDF>
</x:xmpmeta>
<?xpacket end='r'?>

-->
			
			</div>

			<!-- ==================================== FOOTER ============================ --> 
  			<div id="footer">
    			<div id="copyright">Processing is an open project intiated by <a href="http://benfry.com/">Ben Fry</a> and <a href="http://reas.com">Casey Reas</a>. It is developed by a <a href="<!-- webcontentpath -->about/people.html">team of volunteers</a>. </div> 
    			<div id="colophon">

                    <a href="<!-- webcontentpath -->copyright.html">&copy; Info</a>

                </div>
  			</div>
  			
		</div>
		<!-- jquery -->
		<script src="<!-- webcontentpath -->javascript/site.js" type="text/javascript"></script>
	</body>

</html>