<div class="leftcol">

    <!-- Note: Change the Video URL and the LINK as well. -->
    <p class="video"><iframe src="https://player.vimeo.com/video/140600280" width="392" height="220" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <span class="video-caption">Welcome to Processing 3! Dan explains the new features and changes; the links Dan mentions are on the <a href="https://vimeo.com/140600280">Vimeo page</a>.</span></p>     

    <a href="./download/" class="large-link">Download Processing</a><br />
    <a href="./tutorials/" class="large-link">Browse Tutorials</a><br />
    <a href="./reference/" class="large-link">Visit the Reference</a><br />

    <div class="intro">
      <p>
        Processing is a flexible software sketchbook and a language for learning how to code within the context of the visual arts. Since 2001, Processing has promoted software literacy within the visual arts and visual literacy within technology. There are tens of thousands of students, artists, designers, researchers, and hobbyists who use Processing for learning and prototyping.
        <ul>
            <li>&raquo; Free to download and open source</li>
            <li>&raquo; Interactive programs with 2D, 3D, PDF, or SVG output</li>
            <li>&raquo; OpenGL integration for accelerated 2D and 3D</li>
            <li>&raquo; For GNU/Linux, Mac OS X, Windows, Android, and ARM</li>
            <li>&raquo; Over 100 libraries extend the core software</li>
            <li>&raquo; Well <a href="./reference/">documented</a>, with many <a href="./books/">books</a> available</li>
        </ul>
      </p>
    </div>

    <div class="intro">
        <p>
            <a href="./books/" class="large-link">Books</a><br />
            <br />
            The second edition of <a href="./books/#reasfry2">Getting Started with Processing</a> is here and it's updated for Processing 3. It's now in full color and there's a new chapter on working with data. The <a href="./handbook/">Processing Handbook</a> now has a second edition too. Every chapter has been revised, and new chapters introduce more ways to work with data and geometry. New “synthesis” chapters offer discussions and worked examples of topics such as sketching with code, modularity, and algorithms.<br />
            <br />
            <a href="./books/"><img src="/img/learning/books/processing-second-edition.png" width="366" height="242" alt="Processing Books" /></a>
        </p> 
		
    </div>

    <!--

    <div class="twitter">
    	<h5>&raquo; <a href="https://twitter.com/processingOrg">Twitter</a></h5>
    	<ul class="latest-tweets"></ul>
    </div>

    <div class="commits">
    	<h5>&raquo; <a href="https://github.com/processing">Github</a></h5>
    	<ul class="latest-commits"></ul>
    </div>

    -->

</div>

<div class="rightcol">

    <div class="exhibition-small">
        <h3><a href="/download/support.html" class="large-link">Donate</a></h3>
        Please support the <a href="https://processingfoundation.org">Processing Foundation</a>. We need your help!</a>
    </div>

    <!--<div class="exhibition-small">
        <h3><a href="https://donorbox.org/supportpf2019-fundraising-campaign" class="large-link" target="_blank">Donate</a></h3>
        <strong>#SupportPF</strong> is a month-long online fundraising campaign to support and help sustain our software projects (Processing, p5.js, Processing.py, Processing for Pi, and Processing for Android), the Fellowship program, Processing Community Day, and our numerous education initiatives including our education portal. <a href="https://medium.com/processing-foundation/supportp5-this-giving-season-6dea3f70ffa3" target="_blank">Please visit our Medium publication to learn more about this campaign.</a>
    </div>-->

    <div class="intro">
        <a href="https://processingfoundation.org/advocacy/processing-community-day-2020" class="large-link" target="_blank">PCD 2020</a><br />
        <br />
        The Processing Community Day (PCD) initiative is evolving. For 2020, we will offer a mentorship program for PCD Worldwide Organizers who are interested in learning from past community organizers and mentors. The goal is to help a diverse group of organizers launch a PCD in their local communities. Check out the <a href="https://processingfoundation.org/advocacy/processing-community-day-2020" target="_blank">PCD @ Worldwide</a> site to learn more about starting or attending an event in 2020!<br />
        <br />
    </div>

    <!--<div class="intro">
        <a href="https://processingfoundation.org/fellowships" class="large-link" target="_blank">Fellowships</a><br />
        <br />
        The Processing Foundation is currently accepting applications for the 2020 Fellowship Program. With this open call, the Processing Foundation celebrates its Fellowship Program’s fifth year of supporting members of our community in projects that converge and expand the fields of art, technology, education, and activism. The deadline is Thursday, December 19, 2019, 11:59PM PST. <a href="https://docs.google.com/forms/u/2/d/e/1FAIpQLSfENx6pfck3g7A31DnGqhM-lgjivGdR2iYKyKH2h1hFP2GEDA/viewform?usp=send_form" target="_blank">Apply here!</a><br />
    </div>-->

    <p>
        To see more of what people are doing with Processing, check out these sites:<br />
        &raquo; <a href="http://www.creativeapplications.net/category/processing/">CreativeApplications.Net</a><br />
        &raquo; <a href="http://www.openprocessing.org/">OpenProcessing</a><br />
        &raquo; <a href="http://fyprocessing.tumblr.com/">For Your Processing</a><br />
        &raquo; <a href="https://www.reddit.com/r/processing/">Processing Subreddit</a><br />
        &raquo; <a href="https://vimeo.com/groups/processing">Vimeo</a><br />
        &raquo; <a href="http://sketchpad.cc/">Studio Sketchpad</a><br />
	</p>
				
    <p>
    	To contribute to Processing development, please visit 
    	<a href="https://github.com/processing">Processing on GitHub</a> to read 
        instructions for downloading the code, 
        <a href="https://github.com/processing/processing/wiki/Build-Instructions">building from the source</a>, 
        <a href="https://github.com/processing/processing/wiki/Report-Bugs">reporting and tracking bugs</a>, and 
        creating <a href="https://github.com/processing/processing/wiki">libraries and tools</a>.</p>
	</p>

	<p class="partners">
		<h5 style="margin:0;">Partners</h5>
        &raquo; <a href="http://fathom.info/">Fathom</a><br />
        &raquo; <a href="http://itp.nyu.edu/itp/">NYU ITP</a><br />
        &raquo; <a href="http://dma.ucla.edu/">UCLA Design Media Arts</a>
	</p>

	<p class="contact">
		<h5 style="margin:0;">Contact</h5>
		<a href="mailto:foundation@processing.org">foundation@processing.org</a>
	</p>

</div>
