<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--*-->lang<!--*-->" lang="<!--*-->lang<!--*-->">
	<head>
		<title><!--*-->title<!--*--></title>
		
               <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
		
		<meta http-equiv="Content-Type" content="text/html; charset=<!--*-->charset<!--*-->" />
		<meta name="Author" content="Processing Foundation" />
		<meta name="Publisher" content="Processing Foundation" />
		<meta name="Keywords" content="Processing, Sketchbook, Programming, Coding, Code, Art, Design" />
		<meta name="Description" content="Processing is a flexible software sketchbook and a language for learning how to code within the context of the visual arts. Since 2001, Processing has promoted software literacy within the visual arts and visual literacy within technology." />
		<meta name="Copyright" content="All contents copyright the Processing Foundation, Ben Fry, Casey Reas, and the MIT Media Laboratory" />
		
		<script src="/javascript/MM_functions.js" type="text/javascript"></script>
	
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body id="<!--*-->bodyid<!--*-->" onload="" >
		
		<!-- ==================================== PAGE ============================ --> 
		<div id="container">
	
			<!-- ==================================== HEADER ============================ --> 
			<div id="header">
				<!--*-->header<!--*-->
				<form name="search" method="get" action="//www.google.com/search">
				<!--<label>Search processing.org:</label>-->
				       <p><input type="hidden" name="as_sitesearch" value="processing.org" />
				       <input type="text" name="as_q" value="" size="20" class="text" /> 
				       <input type="submit" value="Search" /></p>
						<!--<input type="image" src="/img/search_button.gif" value="Submit" alt="Submit" /></p>-->
				</form>
				
			</div> 
			<!--*-->navigation<!--*-->
		
			<a id="TOP" name="TOP"></a>
			
			<!-- ==================================== CONTENT - Headers ============================ -->
			<div class="content">
			
			 <!--*-->content_for_layout<!--*-->
			
			</div>

			<!-- ==================================== FOOTER ============================ --> 
  			<div id="footer">
    			<div id="copyright"><!--*-->open<!--*--> <a href="http://benfry.com/"><!--*-->benfry<!--*--></a> <!--*-->and<!--*--> <a href="http://reas.com"><!--*-->caseyreas<!--*--></a> </div> 
    			<div id="colophon">

                    <a href="/copyright.html">&copy; Info</a>

                </div>
  			</div>
  			
		</div>
	</body>
</html>
