<div class="leftcol">
    <a href="./download/" class="large-link">Download Processing</a><br />
    <a href="./examples/" class="large-link">Play With Examples</a><br />
    <a href="./tutorials/" class="large-link">Browse Tutorials</a><br />
    
    <div class="intro">
        <p>Processing is a programming language, development environment, and online 
           community. Since 2001, Processing has promoted software literacy within the 
           visual arts and visual literacy within technology. Initially created to serve 
           as a software sketchbook and to teach computer programming fundamentals within 
           a visual context, Processing evolved into a development tool for professionals. 
           Today, there are tens of thousands of students, artists, designers, researchers, 
           and hobbyists who use Processing for learning, prototyping, and production.
        
        <ul>
        	<li>&raquo; Free to download and open source</li>
        	<li>&raquo; Interactive programs with 2D, 3D or PDF output</li>
        	<li>&raquo; OpenGL integration for accelerated 3D</li>
        	<li>&raquo; For GNU/Linux, Mac OS X, and Windows</li>
        	<li>&raquo; Over 100 libraries extend the core software</li>
        	<li>&raquo; Well <a href="./reference/">documented</a>, 
        	    with many <a href="./books/">books</a> available</li>
        </ul>
        <br />
        </p>
    </div>

    <div class="intro">

        <p>
            <a href="http://hourofcode.com/pr" class="large-link">Hello Processing Videos</a><br />
            <br />
            This first look at Processing for total beginners is an introduction to programming in the context of the visual arts. Short video lessons introduce coding exercises that lead to designing an interactive drawing program. This experimental tutorial was created for Code.org's Hour of Code project for <a href="http://csedweek.org/">Computer Science Education Week</a>.<br />
            <br />
            <a href="http://hourofcode.com/pr"><img src="/img/drawing-with-code.jpg" width="392" height="294" /></a>
        </p>

        <!--
        <p class="video"><span class="video-caption">Hello World! Processing is a documentary on creative coding that explores the role that ideas such as process, experimentation and algorithm play in this creative field featuring artists, designers and code enthusiasts.</span>
        	<iframe src="http://player.vimeo.com/video/60735314?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="392" height="221" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        	<span class="video-caption">from <a href="#">Ultra_Lab</a></span></p>     
        -->  
		
    </div>

    <div class="twitter">
    	<h5>&raquo; <a href="https://twitter.com/processingOrg">Twitter</a></h5>
    	<ul class="latest-tweets"></ul>
    </div>

    <div class="commits">
    	<h5>&raquo; <a href="https://github.com/processing">Github</a></h5>
    	<ul class="latest-commits"></ul>
    </div>

</div>

<div class="rightcol">

    <!--
    <div class="exhibition-small">
        <h3><a href="/shop/" class="large-link">New T-shirts!</a></h3>
        <a href="/shop/"><img src="/shop/imgs/tshirts2013-navy-sm.jpg" width="223" height="144" /></a>
        <p>To commemorate the release of Processing 2, these new tees are now available. Every shirt is handprinted on American Apparel 100% cotton shirts. 100% of the profits from these shirts fund the <a href="/foundation/">Processing Foundation</a>.</p>
    </div>
    -->

    <!--
	<div class="exhibition-small">
        <h3><a href="/download/" class="large-link">Fundraiser 2013</a></h3>
        <p>To celebrate the launch of the new Processing <a href="https://github.com/atduskgreg/opencv-processing">OpenCV library</a>, <a href="http://www.oreilly.com/">O'Reilly Media</a> is matching donations to the Processing Foundation up to $3000 for the remainder of 2013. Please donate by selecting the <a href="/download/">Download link</a>.</p>
    </div>
    -->

    <div class="exhibition-small">
        <h3><a href="/exhibition/" class="large-link">Exhibition</a></h3>
		<!--*-->exhibition<!--*-->
    </div>

    <!--
    <div class="exhibition-small">
        <h3><a href="/shop/" class="large-link">T-shirts!</a></h3>
        <a href="/shop/"><img src="/shop/imgs/tshirts2013-navy-sm.jpg" width="223" height="144" /></a>
        <p>100% of the profits from these shirts fund the <a href="/foundation/">Processing Foundation</a>.</p>
    </div>-->

    <p class="italic">To see more of what people are doing with Processing, check out these sites:</p>

	<p>&raquo; <a href="http://www.creativeapplications.net/category/processing/">CreativeApplications.Net</a><br />
	   &raquo; <a href="http://www.openprocessing.org/">OpenProcessing</a><br />
	   &raquo; <a href="https://vimeo.com/groups/processing">Vimeo</a><br />
       &raquo; <a href="http://www.flickr.com/groups/processing/">Flickr</a><br />
       &raquo; <a href="http://sketchpad.cc/">Studio Sketchpad</a><br />
	</p>
				
    <p class="cover-contrib italic">
    	To contribute to the development, please visit 
    	<a href="https://github.com/processing">Processing on GitHub</a> to read 
        instructions for downloading the code, 
        <a href="https://github.com/processing/processing/wiki/Build-Instructions">building from the source</a>, 
        <a href="http://wiki.processing.org/w/Report_Bugs">reporting and tracking bugs</a>, and 
        creating <a href="https://github.com/processing/processing/wiki">libraries and tools</a>.</p>

	</p>

	<p class="partners">
		<h5>Partners</h5>
		&raquo; <a href="http://fathom.info/">Fathom</a><br />
		&raquo; <a href="http://software.arts.ucla.edu/">UCLA Arts Software Studio</a><br />
		&raquo; <a href="http://itp.nyu.edu/itp/">NYU ITP</a>
	</p>

	<div class="mailing-list">
		<h5>Mailing List</h5>
		<form action="http://mail.processing.org/mailman/subscribe/announce" method="post">
	        <input name="email" value="Email address" type="email" width="35"
	        	   onfocus="if(this.value == 'Email address') { this.value = ''; }" 
				   onblur="if(this.value == '') { this.value = 'Email address'; }">
	        <input name="submit" value="Join" type="submit">
	    </form><br>
	    If you are interested in receiving updates about Processing, submit your email through this form. Your email will only be used to send infrequent updates about Processing. It will not be sold or shared.
	</div>

	<p class="contact">
		<h5 style="margin:0;">Contact</h5>
		<a href="mailto:foundation@processing.org">foundation@processing.org</a>
	</p>

</div>
