<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
<name>settings()</name>

<category>Environment</category>

<subcategory></subcategory>

<type></type>

<example>
<image></image>
<code><![CDATA[
int x = 0;

void settings() {
  fullScreen(P2D);
}

void setup() {
  background(0);
  noStroke();
  fill(102);
}

void draw() {
  rect(x, height*0.2, 1, height*0.6); 
  x = x + 2;
}
]]></code>
</example>

<example>
<image></image>
<code><![CDATA[
int w = 200;
int h = 200;
int x = 0;

void settings() {
  size(w, h);
}

void setup() {
  background(0);
  noStroke();
  fill(102);
}

void draw() {
  rect(x, 10, 1, 180); 
  x = x + 2;
}
]]></code>
</example>

<description><![CDATA[
To come...
]]></description>

</root>
