<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
<name>settings()</name>

<category>Environment</category>

<subcategory></subcategory>

<type>p5function</type>

<example>
<image></image>
<code><![CDATA[
// Run code at full screen using the default renderer

int x = 0;

void settings() {
  fullScreen();
}

void setup() {
  background(0);
  noStroke();
  fill(102);
}

void draw() {
  rect(x, height*0.2, 1, height*0.6); 
  x = x + 2;
}
]]></code>
</example>

<example>
<image></image>
<code><![CDATA[
// Run code at full screen using the P2D renderer
// on screen 2 of a multiple monitor hardware setup

int x = 0;

void settings() {
  fullScreen(P2D, 2);
}

void setup() {
  background(0);
  noStroke();
  fill(102);
}

void draw() {
  rect(x, height*0.2, 1, height*0.6); 
  x = x + 2;
}
]]></code>
</example>

<example>
<image></image>
<code><![CDATA[
// Run code at full screen using the P2D renderer
// across all screens on a multiple monitor setup

int x = 0;

void settings() {
  fullScreen(P2D, SPAN);
}

void setup() {
  background(0);
  noStroke();
  fill(102);
}

void draw() {
  rect(x, height*0.2, 1, height*0.6); 
  x = x + 2;
}
]]></code>
</example>

<example>
<image></image>
<code><![CDATA[
int w = 200;
int h = 200;
int x = 0;

void settings() {
  size(w, h);
}

void setup() {
  background(0);
  noStroke();
  fill(102);
}

void draw() {
  rect(x, 10, 1, 180); 
  x = x + 2;
}
]]></code>
</example>

<description><![CDATA[
The <b>settings()</b> function is new with Processing 3.0. It allows more flexibility in running full-screen applications with the <b>fullScreen()</b> function. The <b>fullScreen()</b> and <b>smooth()</b> functions are the only two functions that should appear in <b>settings()</b>. 
]]></description>

</root>
